:root{
    --main-color:#FE0000 ;
    --main-color-shadow: rgba(254, 0, 0, 0.3);

    --second-color:#D8BC51;

    --third-color:#FFFFFF;

    --bg-color:rgb(233, 233, 233);
    --bg-linear: linear-gradient(120deg, white, #FE0000);

    --text-main:black;
    --text-contrast:#ffffffde;
}

/* Titres */

h1.title {
    color: var(--main-color);
}

h2.title {
    color: var(--second-color);
}

h3.title {
    color: var(--third-color);
}

/* Liens */
a {
    color: var(--third-color);
}