.navbar {
    background-color: rgb(240, 240, 240);
    position: absolute;
    width: 100%;
}
.navbar-item {
    color: var(--text-contrast) !important;
    background-color: var(--main-color);
    font-size: large;
    font-weight: bold;
}

.navbar-item:not(:last-of-type){
    border-right: 1px solid white;
}

.navbar-item:hover {
    color: black !important;
    background-color: var(--second-color) !important;
    transition: all 0.5s;
}