.navbar {
    background-color: rgb(240, 240, 240);
}
.navbar-item h3 {

    color: var(--text-contrast) !important;
}

.navbar-item{
    color: var(--text-contrast) !important;
    background-color: var(--main-color);
}

.navbar-item:not(:last-of-type){
    border-right: 1px solid white;
}

.navbar-item:hover
{
    background-color: var(--main-color) !important;
}